@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  @apply bg-cover bg-center;
  background-image: url("/assets/hero-background.png");
}

.about-bg1 {
  @apply bg-cover;
  background-image: url("/assets/about-background1.png");
}

.about-bg2 {
  @apply bg-cover;
  background-image: url("/assets/about-background2.png");
}

.skills-bg {
  @apply bg-cover bg-center;
}

.footer-bg {
  @apply bg-cover bg-center;
  background-image: url("/assets/footer-background.png");
}
