@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  @apply bg-cover bg-center;
  background-image: url("/assets/hero-background.png");
}

.about-bg1 {
  @apply bg-cover bg-center;
  background-image: url("/assets/about-background1.png");
}

.about-bg2 {
  @apply bg-cover bg-center;
  background-image: url("/assets/about-background2.png");
}

.contact-bg {
  @apply bg-cover bg-top;
  background-image: url("/assets/about-background1.png");
}

.skills-bg {
  @apply bg-cover bg-center;
}

.project-bg1 {
  @apply relative bg-cover bg-left;
  background-image: url("/assets/project-background1.png");
}

.project-bg2 {
  @apply relative bg-cover bg-right;
  background-image: url("/assets/project-background2.png");
}

.footer-bg {
  @apply bg-cover bg-center;
  background-image: url("/assets/footer-background.png");
}

.overview-project-button:hover .stars-icon-path {
  transition: 0.3s;
  fill: #fff !important;
}

.fancy {
  --offset: 3px;
  background: #6836f4;
  border-radius: 50px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.fancy::before {
  content: "";
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 3s linear infinite;
}

.fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
